@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Truculenta:opsz,wght@12..72,100..900&display=swap');


@font-face {
    font-family: 'nec';
    src: url('../fonts/nectarine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --clara: RGB(227,227,219);
    --escura: #301046;
    --cor1: #E8BE7E;
    --cor3: #D9D9D9;
    --cor4: #959B7D;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Truculenta", sans-serif;
    font-size: 1.4em;
}

h1 {
    font-family: 'nec', sans-serif;
    font-size: 2rem;
    color: var(--escura);
    padding-top: 12px;
}

h2 {
    font-size: 5rem;
    line-height: 1em;
    margin-bottom: 3rem;
    font-family: "Madimi One", sans-serif;
    text-transform: uppercase;
}
p {
    margin-bottom: 3rem;
}
.main-bg {
    background-image: url(../img/main.svg);
    background-size: cover;
    background-position: center center;
    color: var(--clara);
}

.white-bg {
    background: white;
}

.main-content {
    max-width: 1200px;
    margin: auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid var(--cor3);
    
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    
}

.menu ul {
    list-style: none;
    display: flex;
    font-weight: 400;
    
}

.menu ul li a{

    display: block;
    padding: 1rem;
    color: var(--escura);
    position: relative;
    font-weight: 600;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--cor1);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}
#logo {
    width: 45px;
}
div#esquerda {
    display: flex;
    align-items: center;
}

.menu-spacing{
    height: 65px;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content p {
    font-size: 1.4rem;
}

.intro-img img {
    width: 279px;
    height:auto;
}

.sobrenos-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 64rem;
    text-align: center;
}

.sobrenos-content h2 {
    text-transform: none;
    color: var(--escura);
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-main-desc{
    margin-bottom: 7rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 4rem;
    padding-bottom: 1rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2rem;
    left: 0;
    transform: rotate(5deg);
}

/*/.grid-img { 
    justify-content: center;
    min-height: 100vh;
}/*/

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

#contact img {
    width: 500px;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background-color: white;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1em;
    outline: none;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid white;
    background: none;
    color: white;
    padding: 15px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: white;
    color: var(--escura);
}

.form-group ::placeholder {
    color: var(--cor3);
    font-size: 20px;   
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 10px 2px red;
}
.footer {
    text-align: center;
}
.footer a {
    color: #301046;
}

.heart {
    font-variant: red;
}

.footer p {
    margin: 0;
    padding: 30px;
}

.close-menu {
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: white;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    color: var(--escura);
    font-size: 2rem;
    border: 0.1rem solid var(--escura);
}

@media (max-width: 800px) {
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
    .gallery-img {
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img {
        width: 100%;
    }
    .intro-img img {
        width: 50%;
    }

    .intro-text-content p{
        width: 70vw;
        display: block;
    }
    .intro-content .intro-text-content h2 {
        font-size: 3rem;
    }
    .intro-img {
        align-items: center;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 0.7rem;
        right: 2rem;
        background-color: var(--escura);
        color: white;
        font-size: 2rem;
        line-height: 2rem;
        height: 2rem;
        width: 2rem;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
    }
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        font-size: 4rem;
    }

    .menu-spacing {
        display: none;
    }

    #contact img {
        display: none;
    }

}