@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Truculenta:opsz,wght@12..72,100..900&display=swap');


@font-face {
    font-family: 'nec';
    src: url('../fonts/nectarine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --clara: RGB(227,227,219);
    --escura: #301046;
    --cor1: #E8BE7E;
    --cor3: #D9D9D9;
    --cor4: #959B7D;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Truculenta", sans-serif;
    font-size: 1.2em;
}

h1 {
    font-family: 'nec', sans-serif;
    font-size: 2rem;
    color: var(--escura);
    padding-top: 12px;
}
.main-bg {
    background-image: url(../img/main.svg);
    background-size: cover;
    background-position: center center;
    color: var(--clara);
}

.white-bg {
    background: white;
}

.main-content {
    max-width: 1200px;
    margin: auto;
}

.section {
    min-height: 100vh;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid var(--cor3);
    
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    
}

.menu ul {
    list-style: none;
    display: flex;
    font-weight: 400;
    
}

.menu ul li a{

    display: block;
    padding: 1rem;
    font-size: 1.3em;
    color: var(--escura);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--cor1);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}
#logo {
    width: 45px;
}
div#esquerda {
    display: flex;
    align-items: center;
}

.menu-spacing{
    height: 65px;
}

.intro-content {
    position: relative;
    top: -4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 5rem;
    line-height: 1em;
    margin-bottom: 3rem;
    font-family: "Madimi One", sans-serif;
    text-transform: uppercase;
}

.intro-img img {
    max-width: 100%;
    height:auto;
}
